<div class="row">
  <div class="col-12 mb-4">
    <!-- <p>{{ "map" | translate }}</p> -->
    <div class="d-flex flex-row justify-content-between">
      <h3>Leaflet Map</h3>
      <button type="button" class="btn btn-outline-primary btn-sm mb-3 mr-2 float-right"
        [routerLink]="['/app/map/kibana']" routerLinkActive="router-link-active">Elastic Map</button>
    </div>
    <div class="col-md-12 mt-2">
      <div id="map"></div>
      <ngx-bootstrap-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="border"
        [fullScreen]="false">
      </ngx-bootstrap-spinner>
    </div>
  </div>
</div>
