<!-- form -->
<form [formGroup]="step1Form" #form="ngForm" (ngSubmit)="onSubmit()" novalidate class="tooltip-label-right"
  autocomplete="off">
  <!-- accordion group -->
  <accordion class="mt-4 mb-4" [isAnimated]="true">
    <!-- Report Management card -->
    <accordion-group heading="Report Management" [panelClass]="'border'" [isOpen]="true">

      <div class="d-flex mb-2">
        <span class="w-25 d-block mr-5">
          <h6 class="mb-2">{{'reports-generation.report-name' | translate}}</h6>
          <div class="form-group">
            <input type="text" class="form-control" name="reportName" formControlName="reportName"
              placeholder="{{'reports-generation.report-name' | translate}}">
            <!-- <div *ngIf="step1Form.get('reportName').errors?.required && form.submitted" class="invalid-tooltip">Report
              Name is required!</div>
            <div *ngIf="step1Form.get('reportName').errors?.minlength && form.submitted" class="invalid-tooltip">
              ReportName must contain at least 2 characters!</div> -->
          </div>
        </span>

        <span class="w-25 d-block mr-5 ml-5">
          <h6 class="mb-2">{{'reports-generation.report-description' | translate}}</h6>
          <div class="input-group">
            <input type="text" class="form-control" name="reportDescription" formControlName="reportDescription"
              placeholder="{{'reports-generation.report-description' | translate}}">
            <!-- <div *ngIf="step1Form.get('reportDescription').errors?.required && form.submitted" class="invalid-tooltip">
              Report
              Description is
              required!</div>
            <div *ngIf="step1Form.get('reportDescription').errors?.minlength && form.submitted" class="invalid-tooltip">
              Report
              Description must
              contain at least 2 characters!</div> -->
          </div>
        </span>

        <span class="w-25 d-block ml-5">
          <h6 class="mb-2">{{'reports-generation.owner' | translate}}</h6>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{'reports-generation.owner' | translate}}"
              aria-label="report-owner" aria-describedby="basic-addon3" disabled>
          </div>
        </span>
      </div>

    </accordion-group>
  </accordion>

  <accordion class="mt-4 mb-4" [isAnimated]="true">
    <!-- Report file Name card -->
    <accordion-group heading="Report file Name Specification" [panelClass]="'border'">
      <span class="d-inline-block ml-1 mb-4">
        <div class="d-flex flex-row">
          <h6 class="text-nowrap mt-2 mr-4">Report file name separator: </h6>

          <div class="form-group">
            <select id="separator" class="form-control" formControlName="separator">
              <option value="_" selected>UnderScore(_)</option>
              <option value="-">Dash (-)</option>
              <option value="/">Slash (/)</option>
            </select>
          </div>
        </div>
      </span>

      <h6 class="text-nowrap mb-4 ml-1">Report file name parts: </h6>

      <table class="mb-2 ml-2 mr-2" style="table-layout: fixed; width: 100%;">
        <tbody>
          <tr>
            <td
              style="text-align: left; vertical-align:middle; border-radius: 10px; padding:30px; background-color: #f0eeee; border-right: 10px solid white;">
              <span class="d-block mr-5">
                <h6 class="mb-2">Prefix</h6>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Prefix" class="form-control" name="prefix"
                    formControlName="prefix">
                </div>
              </span>
            </td>
            <td
              style="text-align: left; padding-top:0px; padding-bottom:0; vertical-align:middle; padding:30px; background-color: #f0eeee; border-radius: 10px; border-left: 10px solid white;">
              <span class="d-block mr-5">
                <h6 class="mb-2">Timestamp</h6>
                <div class="form-group">
                  <select id="separator" class="form-control" formControlName="timestamp">
                    <option value="yyyyMMddHHmm" selected>yyyyMMddHHmm</option>
                    <option value="ddMMyyyyHHmm">ddMMyyyyHHmm</option>
                    <option value="MMddyyyyHHmm">MMddyyyyHHmm</option>
                  </select>
                </div>
              </span>
            </td>
            <td
              style="text-align: left; padding-top:0px; padding-bottom:0; vertical-align:middle; padding:30px; background-color: #f0eeee; border-radius: 10px; border-left: 10px solid white;">
              <span class="d-block mr-5">
                <h6 class="mb-2">RandomId</h6>
                <p style="color:#8f8f8f; font-size: 14px; padding: 0; line-height: 1.6; margin:0; ">
                  = A 13 Digit number<br>
                  To randomize the report name
                </p>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>

  <accordion class="mt-4 mb-4" [isAnimated]="true">
    <!-- Report Publishing Folders card -->
    <accordion-group heading="Report Publishing Folders" [panelClass]="'border'">
      <ul class="list-unstyled form-group mb-3 ml-1" formGroupName="checks">
        <li>
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="compressed" formControlName="compressed">
            <label style="font-size: 0.95rem" class="custom-control-label" for="compressed">Compressed Export</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="timestamped" formControlName="timestamped">
            <label style="font-size: 0.95rem" class="custom-control-label" for="timestamped">Timestamped Folder</label>
          </div>
        </li>
      </ul>
    </accordion-group>
  </accordion>

  <accordion class="mt-4 mb-4" [isAnimated]="true">
    <!-- Columns configuration card -->
    <accordion-group heading="Columns configuration" [panelClass]="'border'">

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th style="font-size: medium;" class="col-md-6 text-center" scope="col">Available columns</th>
            <th style="font-size: medium;" class="col-md-6 text-center" scope="col">Selected columns</th>
          </tr>
        </thead>
      </table>

      <div class="dndPlaceholder col-md-12" #placeholder></div>
      <div class="row">
        <div class="col-md-6 text-center mt-1" [dndList] [dndPlaceholder]="placeholder" [dndModel]="simpleList[0]">
          <div *ngFor="let item of simpleList[0]" style="font-size: small; border-width:2px !important;"
            class="border col-md-12 mb-2 p-2" [dndType]="'item'" (dndMoved)="removeItem(item, simpleList[0])"
            [dndDraggable] [dndObject]="item">{{item.columnName}}</div>
        </div>
        <div class="col-md-6 text-center mt-1" [dndList] [dndModel]="simpleList[1]" [dndPlaceholder]="placeholder">
          <div *ngFor="let item of simpleList[1]" style="font-size: small; border-width:2px !important;"
            class="border col-md-12 mb-2 p-2" [dndType]="'item'" (dndMoved)="removeItem(item, simpleList[1])"
            [dndDraggable] [dndObject]="item">{{item.columnName}}</div>
        </div>
      </div>
    </accordion-group>
  </accordion>
  <!-- <button class="btn btn-primary" type="submit">"forms.submit"</button> -->
</form>
