<!-- form -->
<form [formGroup]="step1Form" #form="ngForm" (ngSubmit)="onSubmit()" novalidate class="tooltip-label-right"
  autocomplete="off">
  <!-- accordion group -->
  <accordion class="mt-4 mb-4" [isAnimated]="true">
    <!-- Report Management card -->
    <accordion-group heading="Report Management" [panelClass]="'border'" [isOpen]="true">

      <div class="d-flex mb-2">
        <span class="w-25 d-block mr-5">
          <h6 class="mb-2">{{'reports-generation.report-name' | translate}}</h6>
          <div class="form-group">
            <input type="text" class="form-control" name="reportName" formControlName="reportName"
              placeholder="{{'reports-generation.report-name' | translate}}">
            <div #nameRequiredAlert *ngIf="reportName.errors?.required && formSubmitAttempt"></div>
            <div #nameLengthAlert *ngIf="step1Form.get('reportName').errors?.minlength && formSubmitAttempt"></div>
            <div #nameExistsAlert *ngIf="reportExists && formSubmitAttempt"></div>
            <!-- <div *ngIf="step1Form.get('reportName').errors?.required && form.submitted" class="invalid-tooltip">Report
              Name is required!</div> -->
          </div>
        </span>

        <span class="w-25 d-block mr-5 ml-5">
          <h6 class="mb-2">{{'reports-generation.report-description' | translate}}</h6>
          <div class="input-group">
            <input type="text" class="form-control" name="reportDescription" formControlName="reportDescription"
              placeholder="{{'reports-generation.report-description' | translate}}">
            <div #descriptionRequiredAlert *ngIf="reportDescription.errors?.required && formSubmitAttempt"></div>
            <div #descriptionLengthAlert *ngIf="reportDescription.errors?.minlength && formSubmitAttempt"></div>
          </div>
        </span>

        <span class="w-25 d-block ml-5">
          <h6 class="mb-2">{{'reports-generation.owner' | translate}}</h6>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{'reports-generation.owner' | translate}}"
              aria-label="report-owner" aria-describedby="basic-addon3" disabled>
          </div>
        </span>
      </div>

    </accordion-group>
  </accordion>

  <accordion class="mt-4 mb-4" [isAnimated]="true">
    <!-- Report file Name card -->
    <accordion-group heading="Report file Name Specification" [panelClass]="'border'">
      <span class=" d-inline-block ml-1 mb-4">
        <div class="d-flex flex-row">
          <h6 class="text-nowrap mt-2 mr-4">Report file name separator: </h6>

          <div class="form-group">
            <select id="separator" class="form-control" formControlName="separator" (change)="onChangeFileName()">
              <option *ngFor="let separator of separators" [value]="separator.value">
                {{separator.name}}
              </option>
            </select>
          </div>
        </div>
      </span>

      <div class="mb-5 ml-1">
        <h6 class="d-inline text-nowrap mr-3">Generated report file name: </h6>
        <h6 class="d-inline text-nowrap">{{reportFileName}}</h6>
      </div>

      <h6 class="text-nowrap mt-1 mb-4 ml-1">Report file name parts: </h6>
      <table class="mb-2 ml-2 mr-2" style="table-layout: fixed; width: 100%;">
        <tbody>
          <tr>
            <td
              style="text-align: left; vertical-align:middle; border-radius: 10px; padding:30px; background-color: #f0eeee; border-right: 10px solid white;">
              <span class="d-block mr-5">
                <h6 class="mb-2">Prefix</h6>
                <div class="d-flex flex-column input-group">
                  <div>
                    <input type="text" class="form-control" placeholder="Prefix" class="form-control" name="prefix"
                      formControlName="prefix" (change)="onChangeFileName()">
                  </div>
                  <div #prefixRequiredAlert *ngIf="prefix.errors?.required && formSubmitAttempt"></div>
                  <div #prefixLengthAlert *ngIf="prefix.errors?.minlength && formSubmitAttempt"></div>
                  <div *ngIf="reportPrefixExists" [hidden]="prefix.pristine">Report prefix exists ! use random Id.
                  </div>
                </div>
              </span>
            </td>
            <td
              style="text-align: left; padding-top:0px; padding-bottom:0; vertical-align:middle; padding:30px; background-color: #f0eeee; border-radius: 10px; border-left: 10px solid white;">
              <span class="d-block mr-5">
                <h6 class="mb-2">Timestamp</h6>
                <div class="form-group">
                  <select id="timestamp" class="form-control" formControlName="timestamp" (change)="onChangeFileName()">
                    <option *ngFor="let timestamp of timestamps" [value]="timestamp.value">
                      {{timestamp.name}}
                    </option>
                  </select>
                </div>
              </span>
            </td>
            <td
              style="text-align: left; padding-top:0px; padding-bottom:0; vertical-align:middle; padding:30px; background-color: #f0eeee; border-radius: 10px; border-left: 10px solid white;">
              <span class="d-block mr-5" formGroupName="random">
                <!-- <h6 class="mb-2">RandomId</h6> -->
                <div class="custom-control custom-checkbox mb-2">
                  <input type="checkbox" class="custom-control-input" id="random" formControlName="random"
                    (change)="onChangeFileName()">
                  <label style="font-size: 1rem" class="custom-control-label" for="random">RandomId</label>
                </div>
                <p style="color:#8f8f8f; font-size: 14px; padding: 0; line-height: 1.6; margin:0; ">
                  = A 13 Digit number<br>
                  To randomize the report name
                </p>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>

  <accordion class="mt-4 mb-4" [isAnimated]="true">
    <!-- Report Publishing Folders card -->
    <accordion-group heading="Report Publishing Folders" [panelClass]="'border'">
      <ul class="list-unstyled form-group mb-3 ml-1" formGroupName="checks">
        <li>
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="compressed" formControlName="compressed">
            <label style="font-size: 0.95rem" class="custom-control-label" for="compressed">Compressed Export</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="timestamped" formControlName="timestamped">
            <label style="font-size: 0.95rem" class="custom-control-label" for="timestamped">Timestamped Folder</label>
          </div>
        </li>
      </ul>
    </accordion-group>
  </accordion>

  <accordion class="mt-4 mb-4" [isAnimated]="true">
    <!-- Columns configuration card -->
    <accordion-group heading="Columns configuration" [panelClass]="'border'">

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th style="font-size: medium;" class="col-md-6 text-center" scope="col">Available columns</th>
            <th style="font-size: medium;" class="col-md-6 text-center" scope="col">Selected columns</th>
          </tr>
        </thead>
      </table>

      <div class="dndPlaceholder col-md-12" #placeholder></div>
      <div class="row">
        <div class="col-md-6 text-center mt-1" [dndList] [dndPlaceholder]="placeholder" [dndModel]="simpleList[0]">
          <div *ngFor="let item of simpleList[0]" style="font-size: small; border-width:2px !important;"
            class="border col-md-12 mb-2 p-2" [dndType]="'item'" (dndMoved)="removeItem(item, simpleList[0])"
            [dndDraggable] [dndObject]="item">{{item.columnName}}</div>
        </div>
        <div class="col-md-6 text-center mt-1" [dndList] [dndModel]="simpleList[1]" [dndPlaceholder]="placeholder">
          <div *ngFor="let item of simpleList[1]" style="font-size: small; border-width:2px !important;"
            class="border col-md-12 mb-2 p-2" [dndType]="'item'" (dndMoved)="removeItem(item, simpleList[1])"
            [dndDraggable] [dndObject]="item">{{item.columnName}}</div>
        </div>
      </div>
      <div #columnsEmptyAlert *ngIf="!columnsNotEmpty && formSubmitAttempt"></div>
    </accordion-group>
  </accordion>
</form>
<simple-notifications></simple-notifications>
