<div class="card mt-4 mb-4">
  <!-- Report Filtrartion card -->
  <div class="card-body">
    <h5 class="mb-4">Filters</h5>
    <!-- Add filter button -->
    <div class="d-flex ml-2">
      <button *ngIf="checkEmpty()" type="button" class="btn btn-outline-primary btn-sm mb-3 mr-2"
        (click)="createFilters()">
        Create new filter
      </button>
      <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Select existing filter</button>
      <!-- <button type="button" class="btn btn-outline-primary btn-sm mb-3">
        Select existing filter
      </button> -->
    </div>
    <!-- filters accordion group -->
    <div class="card-body">
      <div class=" mb-3" *ngFor="let filter of filters">
        <!-- filelds dropdown changed m -->
        <div class="d-flex">
          <span class="w-25 d-block mr-5">
            <h6 class="mb-2">Field</h6>
            <ng-select [items]="criteriaSet" bindLabel="fieldName" bindValue="fieldName" [(ngModel)]="filter.fieldName"
              (change)="changeField(filter.fieldName, filter, criteriaSet)" [clearable]="false">
            </ng-select>
          </span>
          <span class="w-25 d-block mr-5">
            <h6 class="mb-2">Operator</h6>
            <ng-select [items]="getOperators(criteriaSet, filter.fieldName)" bindLabel="operator" bindValue="operator"
              [(ngModel)]="filter.operator"
              (change)="changeOperator(filter.operator, filter, filter.fieldName, criteriaSet)" [clearable]="false">
            </ng-select>
          </span>
          <!-- Filter Value -->
          <span *ngIf="filter.filterType==='listOne'" class="w-25 d-block">
            <h6 class="mb-2">value</h6>
            <ng-select [items]="getValues(criteriaSet, filter.fieldName)" bindLabel="value" bindValue="value"
              [(ngModel)]="filter.filterValue" (change)="changeValue(filter.filterValue, filter)" [clearable]="false">
            </ng-select>
          </span>
          <span *ngIf="filter.filterType==='listMulti'" class="w-25 d-block">
            <h6 class="mb-2">value</h6>
            <ng-select [items]="getValues(criteriaSet, filter.fieldName)" [multiple]="true" bindLabel="value"
              bindValue="value" [closeOnSelect]="false" [(ngModel)]="filter.filterValue">
            </ng-select>
          </span>
          <span *ngIf="filter.filterType==='string'" class="w-25 d-block">
            <h6 class="mb-2">value</h6>
            <input type="text" class="form-control" name="filterValue" placeholder="value"
              [(ngModel)]="filter.filterValue" (change)="changeValue(filter.filterValue, filter)" autocomplete="off">
          </span>
          <!-- Filter Date and time -->
          <!-- one date -->
          <span *ngIf="filter.filterType==='date'" class="d-flex">
            <div class="form-group mb-3 d-block">
              <h6 class="text-nowrap mb-2">Date and Time :</h6>
              <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [container]="'html'"
                [bsConfig]="{showWeekNumbers: false, adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY'}"
                [(ngModel)]="filter.filterValue">
            </div>
            <div style="transform: translate(0, 17%);" class="d-block ml-2">
              <timepicker class="timepicker" [mousewheel]="true" [(ngModel)]="mouseTimes1[filters.indexOf(filter)]"
                [showMeridian]="false">
              </timepicker>
            </div>
          </span>
          <!-- date range -->
          <span *ngIf="filter.filterType==='dateRange'" class="d-bloc">
            <!-- from -->
            <div class="d-flex">
              <div class="form-group mb-3 d-block">
                <h6 class="text-nowrap mb-2">Date and Time :</h6>
                <input type="text" placeholder="Datepicker From" class="form-control" bsDatepicker [container]="'html'"
                  [bsConfig]="{showWeekNumbers: false, adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY'}"
                  [(ngModel)]="filter.filterValue[0]">
              </div>
              <div style="transform: translate(0, 17%);" class="d-block ml-2">
                <timepicker class="timepicker" [mousewheel]="true" [(ngModel)]="mouseTimes1[filters.indexOf(filter)]"
                  [showMeridian]="false">
                </timepicker>
              </div>
            </div>
            <!-- To -->
            <div class="d-flex">
              <div class="form-group mt-4 d-block">
                <input type="text" placeholder="Datepicker To" class="form-control" bsDatepicker [container]="'html'"
                  [bsConfig]="{showWeekNumbers: false, adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY'}"
                  [(ngModel)]="filter.filterValue[1]" [minDate]="filter.filterValue[0]">
              </div>
              <div style="transform: translate(0, 12%);" class="d-block ml-2">
                <timepicker class="timepicker" [mousewheel]="true" [(ngModel)]="mouseTimes2[filters.indexOf(filter)]"
                  [showMeridian]="false">
                </timepicker>
                <!-- [min]="getDatePlusTime(filter.filterValue[1],mouseTimes1[filters.indexOf(filter)])" -->
              </div>
            </div>
            <!-- <div class="form-group mb-3">
              <input class="form-control" placeholder="Datepicker" #drp="bsDaterangepicker" bsDaterangepicker
                [container]="'html'"
                [bsConfig]="{showWeekNumbers: false, displayOneMonthRange: true, displayMonths : 1}"
                [(ngModel)]=" filter.filterValue">
            </div> -->
          </span>
          <!-- deleteFilter button -->
          <div class="d-inline-block">
            <button style="font-size: 28px; color: #dc3545; padding: 0.1rem"
              class="simple-icon-minus btn btn-empty ml-3 mt-4" (click)="deleteFilter(filter)"></button>
          </div>
          <!-- add Filter button -->
          <div class="d-inline-block">
            <button *ngIf="lastElement(filter)" style="font-size: 28px; color: #145388; padding: 0.1rem"
              class="simple-icon-plus btn btn-empty ml-2 mt-4" (click)="addFilter(criteriaSet)"></button>
          </div>
        </div>
      </div>
      <br>
      <!-- Delete Save Filter buttons -->
      <div class="d-flex flex-row-reverse">
        <button *ngIf="!checkEmpty()" style="font-size: small;" type="button" class="btn btn-success"
          (click)="saveFilters(filters)">Save Filters</button>
        <button *ngIf="checkEmpty()" style="font-size: small;" type="button" class="btn btn-success" disabled>Save
          Filters
        </button>
        <button *ngIf="!checkEmpty()" style="font-size: small;" type="button" class="btn btn-danger mr-1"
          (click)="deleteFilters()">Delete Filters
        </button>
        <button *ngIf="checkEmpty()" style="font-size: small;" type="button" class="btn btn-danger mr-1" disabled>Delete
          Filters
        </button>
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
