<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <p>{{ "map" | translate }}</p>
    <iframe
      src="http://localhost:5601/app/dashboards#/view/dc251a40-adf3-11ec-9eb7-d9381ddbc36e?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))&show-time-filter=true"
      height="600" width="1200"></iframe>
  </div>
</div>
