<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
    <div class="separator mb-5"></div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-body">
    <aw-wizard>

      <aw-wizard-step stepTitle="{{ 'wizard.step-name-1' | translate }}" style="min-height: 120px;">

        <app-step1></app-step1>

        <div class="text-center">
          <button type="button" class="btn btn-primary mr-1" awPreviousStep disabled>{{ 'wizard.prev' |
            translate}}</button>
          <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="{{ 'wizard.step-name-2' | translate }}" style="min-height: 120px;">

        <app-step2></app-step2>

        <div class="text-center">
          <button type="button" class="btn btn-primary mr-1" awPreviousStep>{{ 'wizard.prev' | translate }}</button>
          <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="{{ 'wizard.step-name-3' | translate }}" style="min-height: 120px;">

        <app-step3></app-step3>

        <div class="text-center">
          <button type="button" class="btn btn-primary mr-1" awPreviousStep>{{ 'wizard.prev' | translate }}</button>
          <button type="button" class="btn btn-primary">Generate</button>
        </div>
      </aw-wizard-step>

    </aw-wizard>
  </div>
</div>
